<div class="main-frame">
    <button [routerLink]="['/login']" routerLinkActive="router-link-active">login</button>
    <button [routerLink]="['/product-details']" routerLinkActive="router-link-active">product details</button>
    <button [routerLink]="['/register']" routerLinkActive="router-link-active">register</button>
    <button [routerLink]="['/order']" routerLinkActive="router-link-active">order</button>
    <button [routerLink]="['/orders-list']" routerLinkActive="router-link-active">orders-list</button>
</div>
<app-side-bar></app-side-bar>