<div class="main-frame">
    <div class="login-box">
        <h1>Rejestracja</h1>

        <h3 style="margin-top: 30px;">Login</h3>
        <input type="text">

        <h3>Email</h3>
        <input type="text">

        <h3>Hasło</h3>
        <input type="password">

        <h3>Powtórz hasło</h3>
        <input type="password">

        <br>
        <input type="checkbox" style="margin-top: 20px;">
        <span style="font-size: 16px;">Zapoznałem się z regulaminem sklepu</span>
        <br>

        <button>Stwórz konto</button>
    </div>
</div>