<div class="main-frame">
    <h1>Typ</h1>
    <select id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    <h1 style="margin-top: 30px;">Kraj pochodzenia</h1>
    <select id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    <h1 style="margin-top: 30px;">Cena</h1>
    <div class="cost">
        <span>od:</span>
        <input type="number">
        <span>pln</span>
        <br>
        <span>do:</span>
        <input type="number">
        <span>pln</span>
    </div>
</div>