<div class="main-frame">
    <div class="login-box">
        <h1>Zamówienie</h1>
        <div class="table-header">
            <div class="header-cell">Produkt</div>
            <div class="header-cell">Ilość</div>
            <div class="header-cell">Cena</div>
        </div>
        <h3 style="width: 95%;;text-align: right;">Suma: 68.56 pln</h3>
        <h1 style="margin-top: 20px;">Szczegóły zamówenia</h1>
        <h3 style="margin-top: 40px;">Status zamówienia: Wysłano</h3>
        <div class="flex-wrapper" style="margin-top: 60px;">
            <h3>Ulica:</h3>
            <h3>Ulica</h3>

            <h3 style="width: 180px; margin-left: 50px;">Numer:</h3>
            <h3>Numer</h3>
        </div>
        <div class="flex-wrapper" style="margin-top: 30px;">
            <h3>Miasto:</h3>
            <h3>Miasto</h3>

            <h3 style="width: 180px;margin-left: 50px;">Kod pocztowy:</h3>
            <h3>Kod</h3>
        </div>
        <h3 style="margin-top: 30px;">Dodatkowe Informacje</h3>
        <h3>Brak</h3>
    </div>

</div>