<div class="main-frame">
    <div class="login-box">
        <div class="wrapper">
            <div style="width: 45%; margin-right: 30px; background: #EEE;">
                Herbata
            </div>
            <div class="details">
                <h3>Herbata Pepiki</h3>
                <span>Kraj pochodzenia: </span>
                <span>Czechy</span>
                <br>
                <span>Typ: </span>
                <span>Czarna</span>
                <br>
                <span>Dostępność w magazynie: </span>
                <span>15</span>
                <div style="display: flex;">
                    <div class="cost">28.66 pln</div>
                    <button>Dodaj</button>
                </div>
            </div>
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id harum veniam voluptatum dolore perspiciatis voluptates suscipit, rerum aspernatur dicta assumenda libero saepe earum nisi cupiditate error tempore quam dolorum amet? Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id harum veniam voluptatum dolore perspiciatis voluptates suscipit, rerum aspernatur dicta assumenda libero saepe earum nisi cupiditate error tempore quam dolorum amet? consectetur adipisicing
            elit. Id harum veniam voluptatum dolore perspiciatis voluptates suscipit, rerum aspernatur dicta assumenda libero saepe earum nisi cupiditate error tempore quam dolorum amet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id harum
            veniam voluptatum dolore perspiciatis voluptates suscipit, rerum aspernatur dicta assumenda libero saepe earum nisi cupiditate error tempore quam dolorum amet?
        </div>
    </div>
</div>